<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet" href="dist/css/style.css")
        title hello world
    body
        h1 Hello World
        h2 Let's do it
        h3 gogogogo
        h4 hi
